{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
        .characters-container {
            border-right: 2px solid #ccc;
        }

        .image {
            flex: 1;
        }

        .name {
            flex: 4;
            font-size: 2em;
            font-weight: bold;
        }

        .favoris {
            top: -3px;
            position: relative;
        }
    </style>
{% endblock %}

{% block title %}Marvel Comics{% endblock %}

{% block body %}

    {% set previous = page - 1 %}
    {% set next = page + 1 %}

    <div class="row">
        <div class="characters-container col-9">
            <h1 class="title mb-3">Marvel Comics</h1>
            <div class="d-flex align-items-center justify-content-end mb-1">
      <span class="text-secondary font-weight-bold">
        Résultats {{ firstOffset }} à {{ lastOffset }} sur {{ totalResults }}
      </span>
            </div>
            <ul class="list-group list-group-flush">
                {% for comic in comics %}
                    <a href="{{ url('comics_detail', { 'id': comic.id }) }}" class="list-group-item list-group-item-action d-flex align-items-center item-card">
                        <span class="image"><img src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}" class="thumbnail rounded-circle"></span>
                        <span class="name">{{ comic.title }}</span>
                    </a>
                {% endfor %}
            </ul>
            <div class="d-flex align-items-center justify-content-end mt-3">
      <span class="text-secondary mr-2 font-weight-bold">
        Page {{ page }} / {{ totalPages }}
      </span>
                <a role="button" class="btn btn-warning mr-2 {% if first %}disabled{% endif %}"
                   href="{{ url('comics_list', { 'page': previous }) }}">< Précédent
                </a>
                <a role="button" class="btn btn-warning {% if last %}disabled{% endif %}"
                   href="{{ url('comics_list', { 'page': next }) }}">Suivant >
                </a>
            </div>
        </div>
        <div class="col-3">
            <h1 class="title mb-3">Favoris</h1>
            <ul class="favoris list-group list-group-flush mt-5">
                {% for fav in favoris %}
                    <a href="{{ url('comics_detail', { 'id': fav.id }) }}" class="list-group-item list-group-item-action d-flex align-items-center item-card">
                        <span class="font-weight-bold">{{ fav.name }}</span>
                    </a>
                {% else %}
                    <span class="text-secondary">Aucun favoris pour le moment.</span>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
